<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Movie List page
            <span>
                <a th:href="@{/movie/register}">
                    <button type="button" class="btn btn-outline-primary">REGISTER</button>
                </a>
            </span>
        </h1>
        <form th:action="@{/movie/list}" method="get" id="searchForm">
            <div class="input-group">
                <input type="hidden" name="page" value="1">
                <div class="input-group-prepend">
                    <select class="custom-select" name="type">
                        <option th:selected="${pageRequestDTO.type == null}">-------</option>
                        <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                    </select>
                </div>
                <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                <div class="input-group-prepend" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
                    <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title & Picture</th>
                <th scope="col">Review Count</th>
                <th scope="col">AVG Rating</th>
                <th scope="col">Reg date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${result.data}">
                <th scope="row"><a th:href="@{/movie/read(mno = ${item.mno}, page = ${result.page})}">[[${item.mno}]]</a></th>
                <td><img th:if="${item.thumbPath != null}" th:src="|/display?fileName=${item.getThumbnailURL()}|">[[${item.title}]]</td>
                <td>[[${item.reviewCount}]]</td>
                <td>[[${#numbers.formatDecimal(item.gradeAverage, 1, 2)}]]</td>
                <td>[[${#temporals.format(item.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:classappend="${!result.prev} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/movie/list(page = ${result.start - 1},
                   type = ${pageRequestDTO.type},
                   keyword = ${pageRequestDTO.keyword})}"
                   th:if="${result.prev}">Previous</a>
                <span th:class="page-link" th:unless="${result.prev}">Previous</span>
            </li>
            <li class="page-item"
                th:each="pageNum : ${#numbers.sequence(result.start, result.end)}"
                th:classappend="${result.page == pageNum ?: 'active'}">
                <a class="page-link"
                   th:href="@{/movie/list(page = ${pageNum},
                   type = ${pageRequestDTO.type},
                   keyword = ${pageRequestDTO.keyword})}"
                   th:text="${pageNum}">1</a>
            </li>
            <li class="page-item" th:classappend="${!result.next} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/movie/list(page = ${result.end + 1},
                   type = ${pageRequestDTO.type},
                   keyword = ${pageRequestDTO.keyword})}"
                   th:if="${result.next}">Next</a>
                <span class="page-link" th:unless="${result.next}">Next</span>
            </li>
        </ul>
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            var msg = [[${msg}]];
            console.log(msg);

            if (msg) {
                $('.modal').show();
            }

            var searchForm = $('#searchForm');

            $('.btn-search').click(function (e) {
                searchForm.submit();
            });

            $('.btn-clear').click(function (e) {
                searchForm.empty().submit();
            })
        </script>
    </th:block>
</th:block>
</html>
