<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.january.guestbook.mapper.MemberMapper">

    <select id="getMemberByEmail">
        select m.mno
             , m.name
             , m.email
        from members m
        where m.email = #{email}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="mno">
        INSERT INTO members (email, password, name, reg_date, mod_date)
        VALUES (#{email}, #{password}, #{name}, now(), now());
    </insert>

    <update id="modifyUserInfo">
        update members
        set password = #{password}
        , from_social = #{fromSocial}
        where email = #{email}
    </update>

    <insert id="setMemberRole">
        insert into member_roles (email, role)
        values (#{email}, #{role});
    </insert>
</mapper>
