<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.january.guestbook.mapper.MemberAuthMapper">

    <resultMap id="memberWithRoleMap" type="com.january.guestbook.domain.Member">
        <id property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="fromSocial" column="from_social"/>

        <collection property="roleSet"
                    ofType="com.january.guestbook.entity.MemberRole"
                    javaType="java.util.HashSet">
            <result property="role" column="role"/>
        </collection>
    </resultMap>

    <select id="getAuthMemberByEmail" resultMap="memberWithRoleMap">
        select m1.mno,
               m1.email,
               m1.password,
               m1.name,
               m1.from_social,
               m2.role
        from members m1
        left join member_roles m2 on m1.email = m2.email
        where m1.email = #{email}
    </select>
</mapper>
