<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.january.guestbook.mapper.MovieMapper">

    <resultMap id="movieDetailMap" type="com.january.guestbook.dto.MovieDTO">
        <id property="mno" column="mno"/>
        <result property="title" column="title"/>
        <result property="reviewCount" column="review_count"/>
        <result property="gradeAverage" column="grade_average"/>
        <result property="regDate" column="reg_date"/>
        <result property="modDate" column="mod_date"/>
        <collection property="images" ofType="com.january.guestbook.dto.MovieImageDTO">
            <result property="uuid" column="uuid"/>
            <result property="imgName" column="img_name"/>
            <result property="path" column="path"/>
        </collection>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="mno">
        INSERT INTO movies (title, reg_date, mod_date)
        values (#{title}, now(), now());
    </insert>

    <select id="countAll">
        select count(*)
        from movies;
    </select>

    <select id="findAll">
        SELECT a.mno
             , a.title
             , count(r) AS review_count
             , avg(r.grade) AS grade_average
             , a.reg_date
             , thumb.uuid as thumb_uuid
             , thumb.img_name as thumb_img_name
             , thumb.path as thumb_path
        FROM movies a
        LEFT JOIN (
            SELECT movie_mno, uuid, img_name, path
            from movie_images
            where inum in (
                select min(inum) from movie_images group by movie_mno
            )
        ) thumb on a.mno = thumb.movie_mno
        LEFT JOIN reviews r ON a.mno = r.movie_no
        GROUP BY a.mno, thumb.uuid, thumb.img_name, thumb.path
        ORDER BY a.mno
        LIMIT #{size} OFFSET #{offset};
    </select>

    <select id="getMovieWithAll" resultMap="movieDetailMap">
        select m.mno
             , m.title
             , m.reg_date
             , m.mod_date
             , count(r) as review_count
             , avg(r.grade) as grade_average
             , mi.uuid
             , mi.img_name
             , mi.path
        from movies m
        left join movie_images mi on m.mno = mi.movie_mno
        left join reviews r on m.mno = r.movie_no
        where m.mno = #{mno}
        group by m.mno, mi.inum
    </select>

</mapper>
