<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.january.guestbook.mapper.MovieMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="mno">
        INSERT INTO movies (title, reg_date, mod_date)
        values (#{title}, now(), now());
    </insert>

    <select id="countAll">
        select count(*)
        from movies;
    </select>

    <select id="findAll">
        SELECT a.mno
             , a.title
             , count(r) AS review_count
             , avg(r.grade) AS grade_average
             , a.reg_date
             , thumb.uuid as thumb_uuid
             , thumb.img_name as thumb_img_name
             , thumb.path as thumb_path
        FROM movies a
        LEFT JOIN (
            SELECT movie_mno, uuid, img_name, path
            from movie_images
            where inum in (
                select min(inum) from movie_images group by movie_mno
            )
        ) thumb on a.mno = thumb.movie_mno
        LEFT JOIN reviews r ON a.mno = r.movie_no
        GROUP BY a.mno, thumb.uuid, thumb.img_name, thumb.path
        ORDER BY a.mno
        LIMIT #{size} OFFSET #{offset};
    </select>

</mapper>
