<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.january.guestbook.mapper.ReplyMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="rno">
        INSERT INTO replys (replyer, text, gno)
        VALUES (#{replyer}, #{text}, #{board.gno})
    </insert>

    <delete id="deleteByGno">
        delete from replys
        where gno = #{gno};
    </delete>

    <delete id="deleteByRno">
        delete from replys
        where rno = #{rno};
    </delete>
</mapper>
